/*---------body start---------*/
.body {
	background: url("@img/body_bcgrnd.jpg") 50% 0 / auto 100% no-repeat;
	// background: url("@img/bg-w-title.jpg") 50% 0 / cover no-repeat;
	position: relative;
	&::after {
		position: absolute;
		z-index: -1;
		content: "";
		background: url("@img/planet.png") 50% 50% / auto 61% no-repeat;
		width: 100%;
		height: 100%;
		top: 0px;
		left: 0px;
	}
}
/*---------body end---------*/
/*---------body media start---------*/
@media (max-width: 1199px) {
	.body {
		&::after {
			display: none;
		}
	}
}
/*---------body media end---------*/

/*---------main start---------*/
.main {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	&__proposal {
		margin-top: 120px;
	}
	&__cards {
		margin-top: 50px;
	}
}
/*---------main end------------*/
/*---------main media start---------*/
@media (max-width: 500px) {
	.main {
		&__proposal {
			margin-top: 50px;
		}
	}
}
/*---------main media end-----------*/

/*---------sect-proposal start---------*/
.proposal {
	position: static;
	&__text {
		position: relative;
		z-index: -2;
		width: fit-content;
		font-size: 25px;
		color: transparent;
		background-clip: text;
		-webkit-background-clip: text;
		background-image: linear-gradient(-90deg, #ff3f04 0%, #ffffff 90%, #ffffff 100%);
		span {
			text-transform: uppercase;
			font-size: 58px;
			font-weight: 700;
			line-height: 1.2;
		}
	}

	&__btn {
		margin-top: 68px;
		margin-left: 20px;

		z-index: 100;
		position: absolute;
		bottom: 38%;
		left: calc(50% - 607px);

		&:hover {
			transform: scaleX(102%);
		}

		&::after,
		&::before {
			position: absolute;
			content: "";
			width: 34px;
			height: 34px;
		}

		&::after {
			background: url("@img/left_glare.png") 0 0 no-repeat;
			left: -16px;
			bottom: -16px;
		}
		&::before {
			background: url("@img/right_glare.png") 0 0 no-repeat;
			right: -16px;
			top: -16px;
		}

		span {
			display: block;
			position: absolute;
			content: "";
			width: 406px;
			height: 57px;
			left: 100%;
			top: 100%;
			background: url("@img/arrow_start.png") 0 0 no-repeat;
		}
	}
}

.proposal-modal {
	color: #ffffff9c;

	border-style: solid;
	border-width: 1px;
	border-image-source: linear-gradient(189deg, #263e66 20%, #09213d 40%, #111f2d 61%, #23599c 79%);
	border-image-slice: 1;
	background-color: rgba(0, 0, 0, 0.95);

	&::after,
	&::before {
		position: absolute;
		content: "";
		width: 34px;
		height: 34px;
	}

	&::after {
		background: url("@img/left_glare.png") 0 0 no-repeat;
		left: -16px;
		bottom: -16px;
	}
	&::before {
		background: url("@img/right_glare.png") 0 0 no-repeat;
		right: -16px;
		top: -16px;
	}

	.modal-header {
		color: #ffffffe7;

		border-image-source: linear-gradient(189deg, #263e66 20%, #09213d 40%, #111f2d 61%, #23599c 79%);
		border-image-slice: 1;
		.close {
			color: #ffffff9c;
		}
	}
	.modal-body {
		form {
			display: grid;
			grid-row-gap: 12px;
			grid-column-gap: 20px;
			grid-template-columns: repeat(2, 1fr);
			grid-auto-flow: dense;
		}
		textarea {
			min-height: 150px;
			resize: none;
		}
		.email,
		textarea {
			grid-column: span 2;
		}
		input,
		textarea {
			width: 100%;
			padding: 4px 10px;

			border-style: solid;
			border-width: 1px;
			border-image-source: linear-gradient(189deg, #263e66 20%, #09213d 40%, #111f2d 61%, #23599c 79%);
			border-image-slice: 1;
			background-color: rgba(6, 6, 6, 0.666);

			transition: border-image-source 0.3s ease;

			@media (max-width: 500px) {
				grid-column: span 2;
			}
		}
		.form-control {
			border-radius: 0;
			box-shadow: none;

			transition: box-shadow 0.3s ease;
			&:focus {
				box-shadow: 0 0 19px 0rem rgba(53, 56, 220, 0.25);
			}
		}
		.was-validated {
			.form-control {
				&:invalid,
				.is-invalid {
					box-shadow: none;
					border-image-source: linear-gradient(189deg, #663a26 20%, #3d1809 40%, #2d1411 61%, #9c2323 79%);
				}
				&:focus {
					box-shadow: 0 0 19px 0rem rgb(220 53 69 / 25%);
					border-image-source: linear-gradient(189deg, #663a26 20%, #3d1809 40%, #2d1411 61%, #9c2323 79%);
				}
			}
		}
		.attention {
			margin: 18px 0 0;
			font-size: 10px;
			font-weight: 100;
			line-height: 1em;
			text-align: right;
		}
	}

	.modal-footer {
		.firm-btn {
			color: #fffffff5;
		}

		border-image-source: linear-gradient(189deg, #263e66 20%, #09213d 40%, #111f2d 61%, #23599c 79%);
		border-image-slice: 1;
	}
}

.firm-btn {
	padding: 8px 23px;

	font-size: 14px;
	line-height: 1.2;
	font-weight: 100;
	color: #ffffff9c;
	white-space: nowrap;

	border-style: solid;
	border-width: 1px;
	border-image-source: linear-gradient(189deg, #263e66 20%, #09213d 40%, #111f2d 61%, #23599c 79%);
	border-image-slice: 1;
	background-color: rgba(0, 0, 0, 0.21);

	transform-origin: right;
	transition: border-image-source 0.3s ease, transform 0.3s ease;

	&_red {
		background-color: rgba(111, 0, 0, 0.666);
	}

	&:hover {
		border-image-source: linear-gradient(300deg, #263e66 20%, #09213d 40%, #111f2d 61%, #23599c 79%);
	}
}
/*---------sect-proposal end---------*/
/*---------sect-proposal media start---------*/
@media (max-width: 1199px) {
	.proposal {
		&__text {
			z-index: 0;
		}
		&__btn {
			position: relative;
			left: auto;

			span {
				display: none;
			}
		}
	}
}
@media (max-width: 500px) {
	.proposal {
		&__text {
			font-size: 18px;
			span {
				font-size: 38px;
			}
		}
		&__btn {
			margin-top: 20px;
		}
	}
}
/*---------sect-proposal media end---------*/

/*---------sect-card-block start---------*/
.cards-block {
	position: relative;
	z-index: 0;
	margin-top: 60px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 10px;
	max-width: fit-content;

	.card {
		display: flex;
		justify-content: space-around;
		align-items: center;
		min-height: 185px;
		min-width: 185px;
		padding: 20px 6px;

		text-align: center;
		cursor: pointer;

		border-style: none;
		border-width: 1px;
		border-image-source: linear-gradient(0deg, transparent 0%, transparent 50%, transparent 100%);
		border-image-slice: 1;

		transition: border-image-source 0.3s ease;

		&:nth-child(1) {
			background: radial-gradient(circle at 0% 0%, rgba(255, 255, 0, 0) 65%, rgba(255, 255, 255, 0.5) 220%);
		}
		&:nth-child(2) {
			background: radial-gradient(circle at 100% 0%, rgba(255, 255, 0, 0) 65%, rgba(255, 255, 255, 0.5) 220%);
		}
		&:nth-child(3) {
			background: radial-gradient(circle at 0% 100%, rgba(255, 255, 0, 0) 65%, rgba(255, 255, 255, 0.5) 220%);
		}
		&:nth-child(4) {
			background: radial-gradient(circle at 100% 100%, rgba(255, 255, 0, 0) 65%, rgba(255, 255, 255, 0.5) 220%);
			.card {
				&__second-line,
				&__third-line {
					color: transparent;
					background-clip: text;
					-webkit-background-clip: text;
					background-image: linear-gradient(317deg, #0000006e 0%, #ffffff 80%, #ffffff 100%);
				}
			}
		}
		&:hover {
			&:nth-child(1) {
				border-style: none solid solid none;
				border-image-source: linear-gradient(
					315deg,
					rgba(255, 255, 255, 0.65) 0%,
					transparent 50%,
					transparent 100%
				);
			}
			&:nth-child(2) {
				border-style: none none solid solid;
				border-image-source: linear-gradient(
					45deg,
					rgba(255, 255, 255, 0.65) 0%,
					transparent 50%,
					transparent 100%
				);
			}
			&:nth-child(3) {
				border-style: solid solid none none;
				border-image-source: linear-gradient(
					225deg,
					rgba(255, 255, 255, 0.65) 0%,
					transparent 50%,
					transparent 100%
				);
			}
			&:nth-child(4) {
				border-style: solid none none solid;
				border-image-source: linear-gradient(
					135deg,
					rgba(255, 255, 255, 0.65) 0%,
					transparent 50%,
					transparent 100%
				);
			}
		}

		&__first-line {
			margin: 0;
			max-height: 1em;
			overflow: hidden;

			font-size: 16px;
			line-height: 1em;
			font-weight: 100;
			color: #fff;

			white-space: nowrap;
		}
		&__second-line {
			margin: 0;
			max-height: 1em;
			overflow: hidden;

			font-size: 60px;
			line-height: 0.9em;
			font-weight: 700;
			white-space: nowrap;

			span {
				font-size: 18px;
				line-height: 1em;
				font-weight: 400;
			}
		}
		&__third-line {
			margin: 0;
			font-weight: 100;
			font-size: 18px;
			line-height: 1em;
		}
	}
}
/*---------sect-card-block end---------*/
/*---------sect-card-block media start---------*/
@media (max-width: 1199px) {
	.cards-block {
		.card {
			&:nth-child(4) {
				.card {
					&__second-line,
					&__third-line {
						color: #fff;
					}
				}
			}
		}
	}
}
@media (max-width: 500px) {
	.cards-block {
		.card {
			min-height: 135px;
			min-width: 135px;

			&__second-line {
				font-size: 32px;
			}
		}
	}
}
/*---------sect-card-block media end---------*/
