.body {
	flex: 1 0 auto;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	background-color: $background-color_main;
	@media (max-width: 320px) {
		width: 320px;
	}
}

div[id^="wait_"] {
	display: none !important;
	background: none !important;
	border: 0 !important;
	color: #000000;
	font-family: Verdana, Arial, sans-serif;
	font-size: 11px;
	font-style: normal !important;
	font-variant: normal !important;
	font-weight: normal;
	letter-spacing: normal !important;
	line-height: normal;
	padding: 0 !important;
	position: absolute;
	text-align: center !important;
	text-indent: 0 !important;
	width: 0px !important;
	height: 0px !important;
	word-spacing: normal !important;
	z-index: 0;
	content: "";
}

.bx-auth {
	margin: auto;
}

body,
a,
input,
button,
textarea {
	font-family: $font-family;
	font-size: $font-size;
	font-weight: 400;
	color: $font-color_main;
	scroll-behavior: smooth;
}
